.modal {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    visibility: hidden;  
    opacity: 0;
    transition: visibility 0s linear 0.5s, opacity 0.5s linear; 
}

.modal_opened {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.modal__container {
    background-color: #fff;
    max-width: 730px;
    padding: 32px 50px;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    border-radius: 8px;
}

.modal__title {
    font-size: 32px;
    font-weight: 500;
    line-height: 1;
    text-align: left;
    margin:0 0 32px;
}

.modal__label {
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: #212121B2;
    margin-bottom: 32px;
    font-size: 16px;
    font-weight: 500;
    line-height: 17.6px;
    text-align: left;
}

.modal__input {
    border: 1px solid #21212166;
    max-width: 630px;
    padding: 16px 12px 16px 12px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1;
    text-align: left;
    color: #212121;
    display: block;
}

.modal__close-btn {
    position: absolute;
    top: 32px;
    right: 50px;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    opacity: 0.4;
    padding: 0;
    cursor: pointer;
}

.modal__close-btn_type_preview {
    top: 0;
    opacity: 1;
    right: -52.5px;
  }

.modal__close-btn_type_preview:hover {  
  cursor: pointer;
  opacity: 0.4;
  }

.modal__submit-btn {
    background-color: #212121; 
    max-width: 156px;
    border-radius: 8px;
    padding: 18px 58px;
    color: #FCF5E5;
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    text-align: center;
    border-style: none;
    opacity: 100%;
}

.modal__submit-btn:hover {
    opacity: 80%;
    cursor: pointer;
    transition: 0.3s;
}

.modal__submit-button_inactive {
    opacity: 0.5;
  }

.modal__container_type_preview {
    padding: 0;
    background: transparent;
    width: fit-content;
    display: flex;
    flex-direction: column;
    max-width: 80vw;
  }

  .modal__image {
    width: 100%;
    object-fit: contain;
    max-width: 80vw;
    max-height: 80vh;
    border-radius: 8px;
  }
  
  .modal__caption {
    padding: 4px 8px;
    margin: 8px 0 0;
    color: #fff;
    background-color: #212121;
    display: inline-block;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.2;
    width: fit-content;
  }

@media screen and (max-width: 627px) {
    .modal__container {
        max-width: 300px;
        padding: 12px;
    }

    .modal__title {
        padding-bottom: 10px;
        font-size: 20px; 
        margin:10px 0 24px;
    }

    .modal__label {
        margin-bottom: 24px;
        font-size: 16px;
    }

    .modal__input {
        max-width:276px;
        font-size: 16px;
    }

    .modal__submit-btn {
        padding: 18px 118px;
        max-width: 276px;
    }
    
    .modal__close-btn {
        right: 12px;
        top: 12px;
    }

    .modal__image {
        border-radius: 4px;
      }

    .modal__caption {
        font-size: 16px;
      }
    
    .modal__close-btn_type_preview {
        right: 0px;
        top: -32px;
      }

}